.profile__image {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 127.5px;
    border-radius: 100px;
}

@media screen and (min-width: 768px) and (max-width: 400000px) {
    .profile__image {
        margin-left: 0;
        margin-top: 36.25px;
        margin-right: 41.25px;
    }
}

