@import url(./fonts/inter.css);

.body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.page {
    background-color: black;
    max-width: 1280px;
    min-width: 320px;
    /* outline: 1px red solid; */
    margin-left: auto;
    margin-right: auto;
    font-family: "Inter", "Arial", sans-serif;
}

.header {
    padding-bottom: 31.5px;
    border-bottom: 1px solid #545454;
    opacity: 0.7;
}

.header__logo {
    margin-top: 28px;
    margin-left: 8.4375vw;
    width: 103.74px;
    height: 24.4px;
}

.header__line {
    margin-top: 31.6px;
    min-width: 100%;
    opacity: 0.7;
}

.profile {
    margin-top: 38.25px;
}

.profile__image {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 127.5px;
    border-radius: 100px;
}

.profile__info {
    position: relative;
    color: #FFFFFF;
    margin-top: 22.25px;
}

.profile__subtitle {
    /* outline: 1px red solid; */
    text-align: center;
    margin-top: 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.add-button {
    background-color: #000000;
    border: none;
    outline: none;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    max-width: 282px;
    height: 50px;
    margin-top: 36px;
    display: flex;
}

.add-button:hover {
    opacity: 0.6;
}

.profile__title {
    /* outline: 1px red solid; */
    text-align: center;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.edit-button {
    background-color: #000000;
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    position: absolute;
    margin-top: -26px;
    margin-left: 264px;
}

.edit-button:hover {
    opacity: 0.6;
}

.photos {
    margin-top: 36px;
    display: grid;
    row-gap: 20px;
}

.photo {
    border-radius: 10px;
    background-color: #FFFFFF;
    width: 282px;
    margin-right: auto;
    margin-left: auto;
}

.photo__image {
    width: 282px;
    height: 282px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.photo__info {
    display: flex;
}

.photo__text {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000; 
    margin-left: 21px;
}

.photo__like {
    background-color: #FFFFFF;
    border: none;
    outline: none;
    display: inline-block;
    border: none; 
    outline: none;
    width: 22px;
    height: 19px;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: auto;
}

.photo__like:hover {
    opacity: 0.5;
}

.photo__like:active {
    background: #000000;
}


.footer_text {
    font-family: 'Inter';
    margin-top: 48px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #545454;
    margin-left: 5.9375vw;
    margin-bottom: 36px;
}

.popup {
    padding-left: 19px;
    padding-right: 19px;
    max-width: 282px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.popup__container {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    
}

.popup__close-btn {
    background-color: #000000;
    margin-top: 87px;
    outline: 1px solid red;
    background-image: url(./images/close-icon.png);
    border: none;
    outline: none;
    display: inline-block;
    border: none; 
    outline: none;
    width: 20px;
    height: 20px;
    justify-self: flex-end;
}

.popup__edit {
    padding-top: 25px;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.popup__title {
    outline: 1px solid red;
    margin-top: 75px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    max-width: 238px;
    margin-right: 22px;
    margin-left: 22px;
}

.popup__subtitle {
    outline: 1px solid red;
    margin-top: 30px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0;
    max-width: 238px;
    margin-right: 22px;
    margin-left: 22px;
}

.popup__submit-btn {
    color: #FFFFFF;
    background-color: #000000;
    border: none;
    outline: none;
    display: inline-block;
    border: none; 
    outline: none;
    margin-top: 45px;
    width: 238px;
    height: 46px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    margin-right: 22px;
    margin-left: 22px;
}


@media screen and (min-width: 321px) and (max-width: 600px) {
    .footer_text {
        margin-left: 5.9375vw;
    }
}

@media screen and (min-width: 581px) and (max-width: 909px) {
    .photos {
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
        column-gap: 17px;
        max-width: 581px;
        margin-right: auto;
        margin-left: auto;
    }

    .header {
        max-width: 581px;
        margin: auto;
    }
}

@media screen and (min-width: 910px) and (max-width: 30000px) {
    .photos {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
        column-gap: 17px;
        max-width: 880px;
        margin-right: auto;
        margin-left: auto;
    }

    .header {
        max-width: 880px;
        margin: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1140px) {
    .profile {
        display: flex;
        margin-left: 12vw;
        margin-top: 0;
        margin-right: 12vw;
    }

    .profile__image {
        margin-left: 0;
        margin-top: 36.25px;
        margin-right: 41.25px;
    }

    .profile__title {
        font-size: 3.28125vw;
        margin-top: 0;
        margin-bottom: 0;
    }

    .profile__subtitle {
        text-align: left;
        margin-top: 16px;
    }

    .profile__info {
        margin-top: 62px;
    }

    .add-button {
        margin-top: 75px;
        width: 150px;
        height: 50px;
        margin-right: 0;
    }
}

@media screen and (min-width: 1140px) and (max-width: 1280px) {
    .profile {
        display: flex;
        margin-left: auto;
        margin-top: 0;
        margin-right: auto;
        max-width: 880px;
    }

    .profile__image {
        margin-left: 0;
        margin-top: 36.25px;
        margin-right: 41.25px;
    }

    .profile__title {
        font-size: 3.28125vw;
        margin-top: 0;
        margin-bottom: 0;
    }

    .profile__subtitle {
        text-align: left;
        margin-top: 16px;
    }

    .profile__info {
        margin-top: 62px;
    }

    .add-button {
        margin-top: 75px;
        width: 150px;
        height: 50px;
        margin-right: 0;
    }

    .footer_text {
        margin-top: 67px;
        font-size: 18px;
        margin-left: 15.625vw;
    }


}

@media screen and (min-width: 1140px) and (max-width: 40000px) {
    .header__logo {
        margin-top: 45px;
        width: 142px;
        height: 33px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 400000px) {
    .profile {
        display: flex;
        margin-left: auto;
        margin-top: 0;
        margin-right: auto;
        max-width: 880px;
    }

    .profile__image {
        margin-left: 0;
        margin-top: 36.25px;
        margin-right: 41.25px;
    }

    .profile__title {
        font-size: 42px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .profile__subtitle {
        text-align: left;
        margin-top: 16px;
        font-size: 18px;
    }

    .profile__info {
        margin-top: 62px;
    }

    .add-button {
        margin-top: 75px;
        width: 150px;
        height: 50px;
        margin-right: 0;
    } 

    .footer_text {
        display: flex;
        margin-left: auto;
        margin-top: 67px;
        margin-right: auto;
        max-width: 880px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }

}



@media screen and (min-width: 768px) and (max-width: 40000px) {
    .header__logo {
        margin-left: 0;
    }
}

@media screen and (min-width: 321px) and (max-width: 460px) {
    .edit-button {
        margin-left: 82.5vw;
    }
}

@media screen and (min-width: 461px) and (max-width: 600px) {
    .edit-button {
        margin-left: 73vw;
    }
}

@media screen and (min-width: 601px) and (max-width: 767px) {
    .edit-button {
        margin-left: 68vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
    .edit-button {
        margin-left: 25vw;
        width: 24px;
        height: 24px;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1280px) {
    .edit-button {
        margin-left: 25vw;
        width: 24px;
        height: 24px;
    }
}

@media screen and (min-width: 1281px) and (max-width: 40000px) {
    .edit-button {
        margin-left: 310px;
        width: 24px;
        height: 24px;
    }
}

