.popup__container {
    border-radius: 10px;
    max-width: 282px;
    max-height: min-content;
    background-color: rgba(0, 0, 0, 0);
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    max-width: 75vw;
    max-height: 75vh;
}

@media screen and (min-width: 800px) {
    .popup__container {
        max-width: 430px;
    }
}