.popup__container {
    border-radius: 10px;
    max-width: 282px;
    background-color: rgba(0, 0, 0, 0);
    left: 0;
    right: 0;
    display: inline-block;
    vertical-align: middle;
    justify-content: center;
}

@media screen and (min-width: 800px) {
    .popup__container {
        max-width: 430px;
    }
}