.edit-button {
    /* outline: 1px red solid; */
    background-image: url(../../images/edit-button.svg);
    background-color: #000000;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    position: absolute;
    top: 8px;
    left: 264px;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
}

.edit-button:hover {
    opacity: 0.6;
}

@media screen and (min-width: 321px) and (max-width: 460px) {
    .edit-button {
        left: 82.5vw;
    }
}

@media screen and (min-width: 461px) and (max-width: 600px) {
    .edit-button {
        left: 73vw;
    }
}

@media screen and (min-width: 601px) and (max-width: 767px) {
    .edit-button {
        left: 70vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
    .edit-button {
        top: 22px;
        left: 32vw;
        width: 24px;
        height: 24px;
        background-image: url(../../images/edit-button-big.svg);
    }
}

@media screen and (min-width: 1001px) and (max-width: 1279px) {
    .edit-button {
        left: 30vw;
        top: 9px;
        width: 24px;
        height: 24px;
        background-image: url(../../images/edit-button-big.svg);
    }
}

@media screen and (min-width: 1280px) {
    .edit-button {
        left: 312px;
        top: 14px;
        width: 24px;
        height: 24px;
        background-image: url(../../images/edit-button-big.svg);
    }
}