.profile__avatar-btn {
    background-image: url(../../../images/edit-profile-info.svg);
    height: 120px;
    width: 120px;
    margin-top: 40px;
    border-radius: 100px;
    background-color: black;
    background-size: 26px 26px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    display: flex;
    justify-content: center;
    /* border: 1px red solid; */
    padding: 0;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

@media screen and (min-width: 768px) {
    .profile__avatar-btn {
        left: 0;
        transform: translate(0, 0);
        padding: 0;
        /* margin-left: 0; */
        /* margin-top: 40px; */
        margin-right: 30px;
    }
}