.edit-button__img {
    max-width: 18px;
    max-height: 18px;
}

@media screen and (min-width: 768px) and (max-width: 40000px) {
    .edit-button__img {
        max-width: 24px;
        max-height: 24px;
    }
}