.header {
    padding-bottom: 31.5px;
    border-bottom: 1px solid rgba(229, 229, 229, 0.7);
    margin: auto;
}


@media screen and (min-width: 581px) and (max-width: 909px) {
    .header {
        max-width: 581px;
    }
}

@media screen and (min-width: 910px) and (max-width: 40000px) {
    .header {
        max-width: 880px;
    }
}
