.header {
    padding-bottom: 27px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    margin: auto;
}


@media screen and (min-width: 581px) and (max-width: 909px) {
    .header {
        max-width: 581px;
    }
}

@media screen and (min-width: 910px) {
    .header {
        padding-bottom: 37px;
        max-width: 880px;
    }
}
