.profile__title {
    /* outline: 1px red solid; */
    text-align: center;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) and (max-width: 1140px) {
    .profile__title {
        font-size: 3.28125vw;
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1140px) and (max-width: 1280px) {
    .profile__title {
        font-size: 3.28125vw;
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1280px) and (max-width: 400000px) {
    .profile__title {
        font-size: 42px;
        margin-top: 0;
        margin-bottom: 0;
    }
}