.photo__like {
    background-image: url(../../../images/like.svg);
    background-color: #FFFFFF;
    border: none;
    outline: none;
    width: 22px;
    height: 19px;
    margin-top: 25px;
    margin-right: 30px;
    margin-left: auto;
    padding: 0;
}

.photo__like:hover {
    opacity: 0.5;
}

.photo__like:active {
    opacity: 1;
    background-image: url(../../../images/black-like.png);
}