.footer__text {
    font-family: 'Inter';
    margin-top: 48px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #545454;
    margin-left: 5.9375vw;
    margin-bottom: 36px;
}

@media screen and (min-width: 321px) and (max-width: 600px) {
    .footer_text {
        margin-left: 5.9375vw;
    }
}

@media screen and (min-width: 1140px) and (max-width: 1280px) {
    .footer_text {
        margin-top: 67px;
        font-size: 18px;
        margin-left: 15.625vw;
    }
}

@media screen and (min-width: 1280px) and (max-width: 400000px) {
    .footer_text {
        display: flex;
        margin-left: auto;
        margin-top: 67px;
        margin-right: auto;
        max-width: 880px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }
}