.popup__close-btn {
    /* margin-top: 87px; */
    background-image: url(../../../images/close-icon.svg);
    width: 20px;
    height: 20px;
    margin-bottom: 14px;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    justify-items: flex-end;
    margin-left: 266px;
    background-repeat: no-repeat;
}

.popup__close-btn:hover {
    opacity: 0.6;
}

@media screen and (min-width: 800px) {
    .popup__close-btn {
        margin-left: 440px;
        background-image: url(../../../images/close-icon-big.svg);
        width: 32px;
        height: 32px;
        margin-bottom: 8px;
    }
}