.photo__trash {
    background-image: url(../../../images/trash.svg);
    background-color: rgba(0, 0, 0, 0);
    width: 18px;
    height: 19px;
    border: 0;
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    right: 20px;
    left: 244px;
}

.photo__trash:hover {
    opacity: 0.6;
}