.profile__info {
    position: relative;
    color: #FFFFFF;
    margin-top: 18px;
}

@media screen and (min-width: 768px) and (max-width: 400000px) {
    .profile__info {
        margin-top: 70px;
    }
}
