.profile__info {
    /* outline: 1px solid red; */
    position: relative;
    color: #FFFFFF;
    margin-top: 28px;
}

@media screen and (min-width: 768px) {
    .profile__info {
        margin-top: 75px;
    }
}
