.profile__info {
    position: relative;
    color: #FFFFFF;
    margin-top: 22.25px;
}

@media screen and (min-width: 768px) and (max-width: 1140px) {
    .profile__info {
        margin-top: 62px;
    }
}

@media screen and (min-width: 1140px) and (max-width: 1280px) {
    .profile__info {
        margin-top: 62px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 400000px) {
    .profile__info {
        margin-top: 62px;
    }
}