.footer {
    margin: auto;
}


@media screen and (min-width: 581px) and (max-width: 909px) {
    .footer {
        max-width: 581px;
    }
}

@media screen and (min-width: 910px) {
    .footer {
        max-width: 880px;
    }
}    
