.photos {
    margin-top: 36px;
    display: grid;
    row-gap: 18px;
}

@media screen and (min-width: 581px) and (max-width: 909px) {
    .photos {
        grid-template-columns: 1fr 1fr;
        column-gap: 17px;
        max-width: 581px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (min-width: 910px) {
    .photos {
        margin-top: 52px;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 17px;
        max-width: 880px;
        margin-right: auto;
        margin-left: auto;
    }
}